* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.App {
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;

   background-color: #0F044C;
}

form {
    display: flex;
    align-items: flex-end;
}